<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <!-- <h5 class="mb-3">Basic Pills</h5> -->
      <ngb-tabset type="pills">
        <ngb-tab title="OnGoing" class="mb-3">
          <ng-template ngbTabContent>
            <p><b>Sri Sai Vinay Constructions</b> has several pre-launch projects in Hyderabad that are gearing up for
              the happy sounds of
              families that’ll reside in them. Our new residential projects in Mumbai are coming with the long-standing
              promise of timely delivery, supreme quality and luxury.</p>
            <div class="row">
              <div class="col-xl-12">
                <!-- <h5 class="mt-4">Card Decks</h5> -->
                <hr>
                <div class="card-deck">
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/ongoing/img-slide-1.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Miyapur, Hyderabad</h5>
                      <p class="card-text">This home constrction was launched in November 2020. It offers Under
                        Construction units.
                        Popular configurations include Living Room, Basement, 3 BHK units. As per the area plan, units
                        are in the size
                        range of 918 - 1039 sq. ft. Overall, there are 3 blocks. The possession date of this unit is Oct
                        2023. </p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/ongoing/img-slide-2.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sangareddy, Hyderabad</h5>
                      <p class="card-text">The project was launched in November 2020. It offers Under Construction
                        units. Popular configurations include 2 BHK, 3 BHK units. As per the area plan, units are in the
                        size range of 918 - 1039 sq. ft.. There are 810 units in Urbanrise Spring Is In The Air.
                        Overall, there are 3 blocks. The possession date of Urbanrise Spring Is In The Air is Oct 2023.
                      </p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/ongoing/img-slide-3.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Kondapur, Hyderabad</h5>
                      <p class="card-text">This home in Kondapur, Hyderabad by Sri Sai Vinay Constructions.

                        This home price ranges from 1 Cr to 1.47 Cr.

                        Sri Sai Vinay Constructions offers facilities such as Gymnasium and Lift.
                        It also has amenities like Badminton court, Basketball court, Jogging track, Lawn tennis court
                        and Swimming pool..</p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Completed">
          <ng-template ngbTabContent>
            <p>With Sri Sai Vinay Constructions, luxury is a given. The luxury of opulent spaces, thought-through
              designs, and
              before-time delivery of your home! We have been instrumental in changing the face of our city’s landscape
              with our beautiful residential projects that have always been delivered ahead of time.</p>
            <div class="row">
              <div class="col-xl-12">
                <!-- <h5 class="mt-4">Card Decks</h5> -->
                <hr>
                <div class="card-deck">
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/completed/img-slide-1.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Miyapur, Hyderabad</h5>
                      <p class="card-text">This home constrction was launched in November 2020. It offers Under
                        Construction units.
                        Popular configurations include Living Room, Basement, 3 BHK units. As per the area plan, units
                        are in the size
                        range of 918 - 1039 sq. ft. Overall, there are 3 blocks. The possession date of this unit is Oct
                        2023. </p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/completed/img-slide-2.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sangareddy, Hyderabad</h5>
                      <p class="card-text">The project was launched in November 2020. It offers Under Construction
                        units. Popular configurations include 2 BHK, 3 BHK units. As per the area plan, units are in the
                        size range of 918 - 1039 sq. ft.. There are 810 units in Urbanrise Spring Is In The Air.
                        Overall, there are 3 blocks. The possession date of Urbanrise Spring Is In The Air is Oct 2023.
                      </p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/completed/img-slide-3.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Kondapur, Hyderabad</h5>
                      <p class="card-text">This home in Kondapur, Hyderabad by Sri Sai Vinay Constructions.

                        This home price ranges from 1 Cr to 1.47 Cr.

                        Sri Sai Vinay Constructions offers facilities such as Gymnasium and Lift.
                        It also has amenities like Badminton court, Basketball court, Jogging track, Lawn tennis court
                        and Swimming pool..</p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Upcoming">
          <ng-template ngbTabContent>
            <p>Sri Sai Vinay Constructions creates everlasting impressions. Not just homes or office spaces, we are into
              creating an
              area for growth, prosperity and peace of mind. We have been developing the cityscape with our residential
              upcoming projects in Mumbai. We are one of the top real estate developers in Mumbai who deliver the best
              of amenities that ensure safety of lives and upliftment of quality.</p>
            <div class="row">
              <div class="col-xl-12">
                <!-- <h5 class="mt-4">Card Decks</h5> -->
                <hr>
                <div class="card-deck">
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/upcoming/img-slide-1.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Miyapur, Hyderabad</h5>
                      <p class="card-text">This home constrction was launched in November 2020. It offers Under
                        Construction units.
                        Popular configurations include Living Room, Basement, 3 BHK units. As per the area plan, units
                        are in the size
                        range of 918 - 1039 sq. ft. Overall, there are 3 blocks. The possession date of this unit is Oct
                        2023. </p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" src="assets/images/projects/residential/upcoming/img-slide-2.jpg"
                      alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Sangareddy, Hyderabad</h5>
                      <p class="card-text">The project was launched in November 2020. It offers Under Construction
                        units. Popular configurations include 2 BHK, 3 BHK units. As per the area plan, units are in the
                        size range of 918 - 1039 sq. ft.. There are 810 units in Urbanrise Spring Is In The Air.
                        Overall, there are 3 blocks. The possession date of Urbanrise Spring Is In The Air is Oct 2023.
                      </p>
                      <a href="javascript:" class="card-link">View More</a>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
</div>