<div class="row">
  <!-- <div class="col-xl-12">
    <h5 class="mt-4">About US</h5>
    <hr> -->
  <div class="col-xl-12">
    <div class="card-group">
      <div class="card">
        <!-- <img class="card-img-top" src="assets/images/slider/img-slide-4.jpg" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">About US</h5>
          <p class="card-text">Man Infraconstruction Limited
            A Leading Real Estate Developer in Hyderabad <br><br>

            <b>Sri Sai Vinay Constructions</b> is a one of the pioneering real estate developers in Hyderabad. Our
            legacy dates back to 50 years+
            in the field of construction that began with our parent company, Man Infraconstruction Ltd. We may be just
            7 years into the field of development, but definitely not new.
          </p>
          <p class="card-text"><b>Sri Sai Vinay Constructions</b> is a leading construction company in Andhra Pradesh
            that has
            executed construction work for some of the most significant port projects surrounding Anantapur district. We
            continue to alter the structural landscape through several other prestigious projects in the residential,
            commercial, and Institutional buildings. Our commitment to excellence in quality was provided to hospital,
            School, and commercial building in Andhra Pradesh India.
            As a natural extension and in line with the aspiration to climb up the value chain, Man Infra (The Group)
            has entered into Real Estate Development. The Group is currently developing premium Residential Projects
            with an approximate saleable area of 5 million sq. ft. in various suburbs of Mumbai. We aspire to be one of
            the top builders in Mumbai. <br><br>
            Our expertise across diverse infrastructure domains is proof through the successful execution of various
            projects covers :<br>
            Commercial & Institutional Constructions<br>
            Office Complexes, Hotels, Shopping Malls, Schools, Hospitals etc.<br>
            Residential Constructions<br>
            High Rise Building, Townships, Luxury Villas and more.<br>
            Industrial Constructions
            Factories, Cold Storages, Warehouse Facilities and Manufacturing etc<br><br>
            Our success stems from the steely resolve of our young, passionate, and dedicated team of qualified and
            experienced engineers, supervisors, technicians and administrative staff. Their expertise enables quick flow
            of knowledge and efficient decision making throughout the organization.
            We believe in exceeding clients' expectations by achieving global benchmarks for transparency, reliability,
            and integrity. A commitment to sustainable development, safety and environment protection forms the genesis
            of our culture.<br><br>
            Our clients value our allegiance to quality, timely deliveries, superior customer service and the experience
            of engaging in business with a highly qualified and experienced management. By leveraging our strengths and
            capitalizing on developing opportunities.
          </p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="assets/images/slider/about-us.jpg" alt="Card image cap">
      </div>
    </div>
  </div>

  <!-- </div> 
  <div class="col-xl-12">
    <div class="card-deck">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">&nbsp;</h5>
          <p class="card-text"><b>Sri Sai Vinay Constructions</b> is a leading construction company in Andhra Pradesh
            that has
            executed construction work for some of the most significant port projects surrounding Anantapur district. We
            continue to alter the structural landscape through several other prestigious projects in the residential,
            commercial, and Institutional buildings. Our commitment to excellence in quality was provided to hospital,
            School, and commercial building in Andhra Pradesh India.
            As a natural extension and in line with the aspiration to climb up the value chain, Man Infra (The Group)
            has entered into Real Estate Development. The Group is currently developing premium Residential Projects
            with an approximate saleable area of 5 million sq. ft. in various suburbs of Mumbai. We aspire to be one of
            the top builders in Mumbai. <br><br>
            Our expertise across diverse infrastructure domains is proof through the successful execution of various
            projects covers :<br>
            Commercial & Institutional Constructions<br>
            Office Complexes, Hotels, Shopping Malls, Schools, Hospitals etc.<br>
            Residential Constructions<br>
            High Rise Building, Townships, Luxury Villas and more.<br>
            Industrial Constructions
            Factories, Cold Storages, Warehouse Facilities and Manufacturing etc<br><br>
            Our success stems from the steely resolve of our young, passionate, and dedicated team of qualified and
            experienced engineers, supervisors, technicians and administrative staff. Their expertise enables quick flow
            of knowledge and efficient decision making throughout the organization.
            We believe in exceeding clients' expectations by achieving global benchmarks for transparency, reliability,
            and integrity. A commitment to sustainable development, safety and environment protection forms the genesis
            of our culture.<br><br>
            Our clients value our allegiance to quality, timely deliveries, superior customer service and the experience
            of engaging in business with a highly qualified and experienced management. By leveraging our strengths and
            capitalizing on developing opportunities.
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="col-xl-12"><BR><BR></div>
  <div class="col-xl-12">
    <h5>CEO</h5>
    <hr>
    <div class="card-group">
      <div class="card">
        <!-- <img class="card-img-top" src="assets/images/slider/img-slide-4.jpg" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Mr. Srinivas Reddy</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/user/ceo.jpg" alt="Card image cap">
        <!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="col-xl-12"><BR><BR></div>
  <div class="col-xl-12">
    <h5>Managing Directors</h5>
    <hr>
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="assets/images/user/director1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Managing Director</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>

      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/user/director2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Managing Director</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>

      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/user/director3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Managing Director</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
        </div>

      </div>
    </div>
  </div>

</div>