<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="Sri Sai Vinay Construction Projects in Hyderabad" [options]="false">
      <agm-map [latitude]="17.5450" [longitude]="78.4967" [zoom]="10">
        <agm-marker [latitude]="17.6140" [longitude]="78.0816">
          <agm-info-window>
            <h3>Sangareddy</h3> <br />
            <p>Click to open project <a href="http://maps.google.com" target="_blank">Sangareddy</a></p>
          </agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="17.4699" [longitude]="78.3578">
          <agm-info-window>
            <h3>Kondapur</h3> <br />
            <p>Click to open project <a href="http://maps.google.com" target="_blank">Kondapur</a></p>
          </agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="17.3616" [longitude]="78.4747">
          <agm-info-window>
            <h3>Charminar</h3> <br />
            <p>Click to open project <a href="http://maps.google.com" target="_blank">Charminar</a></p>
          </agm-info-window>
        </agm-marker>
        <agm-marker [latitude]="17.4062" [longitude]="78.4691">
          <agm-info-window>
            <h3>Birla Mandir</h3> <br />
            <p>Click to open project <a href="http://maps.google.com" target="_blank">Birla Mandir</a></p>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </app-card>
  </div>

</div>